<header>
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <h1 class="project-name">CreditCare+</h1>
    </div>
    <div class="p-toolbar-group-end">
      <!-- Navigation links for larger screens -->
      <ul class="nav-links" *ngIf="!isMobileView">
        <li><a routerLink="/" class="nav-link">Home</a></li>
        <li><a routerLink="/about" class="nav-link">About Us</a></li>
        <li><a routerLink="/contact" class="nav-link">Contact</a></li>
        <li><a routerLink="/products" class="nav-link">Products</a></li>
        <li><a routerLink="/services" class="nav-link">Services</a></li>
      </ul>
      <!-- Toggle Button for Sidebar in Mobile View -->
      <button *ngIf="isMobileView" (click)="toggleSidebar()" class="menu-button">
        <i class="pi pi-bars"></i>
      </button>
    </div>
  </p-toolbar>

  <!-- Sidebar for Mobile View -->
  <p-sidebar [(visible)]="sidebarVisible" position="right" [modal]="true" [dismissible]="false">
    <h4>Where Quality Meets Innovation</h4>
    <ul class="sidebar-menu">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/services">Services</a></li>
    </ul>
  </p-sidebar>
</header>
